* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
}
.header_index {
  background: black;
  height: 100px;
}
.content_nav {
  display: grid;
  grid-template-columns: auto auto auto;
}
.content_nav a {
  color: white;
  text-decoration: underline;
  font-size: 25px;
}
.nav_logo {
  margin-left: 30px;
}
.nav_logo img {
  width: 120px;
  height: 100px;
  padding: 5px 0 5px 0;
}
.nav_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_login a,
.nav_section a {
  margin-left: 15px;
}
.nav_login .login {
  color: rgb(202, 202, 202);
}
.nav_login .signin {
  width: 250px;
  height: 50px;
  display: inline-flex;
  padding: 6px 23px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #d4af37;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
  color: black;
}
.sect1_index {
  height: 500px;
}
.sect1_index img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sect1_index .name_logo {
  width: 450px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.name_logo:hover {
  filter: contrast(220%);
  filter: saturate(220%);
}
.next_here {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 50px;
  background: #d4af37;
  width: 250px;
  height: 50px;
  display: inline-flex;
  padding: 6px 23px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 60px;
  transition: border-color 0.3s ease, transform 0.3s ease;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

.sect1_index a:hover {
  color: white;
}

.sect1_index a:after {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.8s;
}

.sect1_index a:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

/*Seccion 2*/
.sect2_index {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.content_sect2 {
  flex: 1;
  position: relative;
}
.content_sect2 img {
  width: 340px;
  height: 530px;
  display: flex;
  object-fit: cover;
  flex-grow: 1;
  opacity: 0.8;
}
.content_sect2 img:hover {
  transition: ease 0.5s;
  opacity: 1;
  filter: contrast(130%);
  transform: scale(120%);
}
.up_text p,
.down_text p {
  color: white;
  text-align: center;
}
.up_text,
.down_text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 5px 10px 5px;
}
.up_text {
  top: 0;
  margin-top: 20px;
}
.down_text {
  bottom: 0;
}
/*Footer*/
.footer_index {
  height: auto;
  background: black;
}
.content_footer_index1 img {
  width: 120px;
  height: 100px;
  margin: 30px 0 0 80px;
}
.line_separator {
  color: #d4af37;
  border: #d4af37;
  z-index: 3;
}
.content_footer_index_n a,
h3 {
  color: white;
  text-align: center;
}
.content_footer_index_n {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.content_footer_index1,
.content_footer_index2,
.content_footer_index3,
.content_footer_index4,
.content_footer_index5 {
  margin-top: 20px;
}
.content_footer_index1 h3,
.content_footer_index2 h3,
.content_footer_index3 h3,
.content_footer_index4 h3 {
  margin-bottom: 25px;
  text-decoration: underline;
}
.content_footer_index1 a,
.content_footer_index2 a,
.content_footer_index3 a,
.content_footer_index4 a,
.content_footer_index5 a {
  display: block;
  text-decoration: none;
  margin: 30px 0 40px 0;
}
.content_footer_index5 img {
  width: 270px;
  height: 60px;
  display: block;
  margin-bottom: 10px;
}
.content_footer_index5 h3 {
  margin-bottom: 25px;
}
.content_footer_index5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*LOGIN*/
.header_login {
  background: black;
  height: 100px;
}
.content_nav_login {
  display: grid;
  grid-template-columns: 0.3fr 1.1fr 0.6fr;
}
.content_nav_login .nav_logo_login {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_logo_login img {
  width: 120px;
  height: 100px;
  padding: 5px 0 5px 0;
}
.content_nav_login .namelogo {
  display: flex;
  grid-column: 2;
  justify-content: center;
  align-items: center;
}
.namelogo .name_logo {
  margin-left: 210px;
}
.content_nav_login .nav_login {
  grid-column: 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.nav_login a {
  color: white;
  text-decoration: underline;
  font-size: 25px;
}

.sect1_login {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sect1_login .img_login {
  grid-column: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 60px 0 60px -20px;
}
.img_login img {
  height: 500px;
}
.form_login {
  background: black;
}
.sect1_login .form_login {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_login .content_form_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_form_login h2 {
  position: relative;
  bottom: 150px;
  color: #d7a400;
  font-size: 50px;
}
.content_form_login .label_user {
  position: relative;
  bottom: 70px;
}
.content_form_login label {
  color: white;
  font-size: 40px;
}
.content_form_login .btn_login {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  background-color: #d4af37;
  border: none;
  position: relative;
  top: 60px;
  cursor: pointer;
}

.content_form_login input {
  width: 200px;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #fdc500;
  background: black;
}
.content_form_login .label_clave {
  margin-left: -65px;
}

.btn_login {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 17px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn_login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_login span:after {
  content: "»";
  position: absolute;
  margin-right: -8px;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.btn_login:hover span {
  padding-right: 15px;
}

.btn_login:hover span:after {
  opacity: 1;
  right: 0;
}

/*Bienvenida*/
.sec1_bienvenida {
  background-image: url("/img/img5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sec1_bienvenida {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: yellow;
  background-color: #e4e4d0;
  flex-direction: column;
  font-size: 50px;
}

.Texto_s1 .p1 {
  text-align: center;
  margin-top: 170px;
}
.Texto_s1 .p2 {
  text-align: center;
  margin-top: 400px;
}

.p3 {
  text-align: center;
  margin-top: 300px;
}

.sec2_bienvenida {
  background-image: url("/img/img6.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header_bienvenida {
  background: black;
  height: 100px;
}

.footer_bienvenida {
  height: auto;
  background: black;
}

.content_footer_bienvenida img {
  width: 120px;
  height: 100px;
  margin: 30px 0 0 80px;
}

.content_footer_bienvenida_n a,
h3 {
  color: white;
  text-align: center;
}

.content_footer_bienvenida1,
.content_footer_bienvenida2,
.content_footer_bienvenida3,
.content_footer_bienvenida4,
.content_footer_bienvenida5 {
  margin-top: 20px;
}

.content_footer_bienvenida h3,
.content_footer_bienvenida h3,
.content_footer_bienvenida h3,
.content_footer_bienvenida h3 {
  margin-bottom: 25px;
  text-decoration: underline;
}

.content_footer_bienvenida a,
.content_footer_bienvenida a,
.content_footer_bienvenida a,
.content_footer_bienvenida a,
.content_footer_bienvenida a {
  display: block;
  text-decoration: none;
  margin: 30px 0 40px 0;
}

.content_footer_bienvenida5 img {
  width: 270px;
  height: 60px;
  display: block;
  margin-bottom: 10px;
}
.body_bienvenido{
  background: black;
}

.content_footer_bienvenida5 h3 {
  margin-bottom: 25px;
}

.content_footer_bienvenida5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
}
.sidebar{
  width: 40px;
  height: 40px;
  background: black;
  cursor: pointer;
}
.sidebar i{
  font-size: 25px;
}
.content_sidebar{
  display: flex;
  justify-content: start;
  align-items: start;
  position: absolute;
  bottom: 511px;
}
.offcanvas-body h5{
  display: inline;
}
.offcanvas-body{
  padding-bottom: -100px;
}
.offcanvas-body img{
  width: 60px;
}
.offcanvas-body a{
  text-decoration: none;
  color: black;
}


/*preguntas*/
.header_preguntas {
  background: black;
  height: 100px;
}

.sec1_preguntas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: yellow;
  background-color: #E4E4D0;
  margin-bottom: 50px;
  flex-direction: column;
  font-size: 50px;
}



.Texto_p .pp1 {
  text-align: center;
  margin-top: 170px;
}

.Texto_p .pp2 {
  text-align: center;
  margin-top: 400px;
}

.Texto_p .pp3 {
  display: flex;
  margin-bottom: 200px;
  margin-top: 200px;
  text-align: center;
  justify-content: center;

  color: black;
  background-color: yellow;
  border-radius: 20px;
}

.sec2_preguntas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: yellow;
  background-color: #E4E4D0;
  margin-bottom: 50px;
  flex-direction: column;
  font-size: 50px;
}

.pp4 {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
  margin-bottom: 200px;

}




.sec1_preguntas {
  background-image: url("/img/img7.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sec2_preguntas {
  background-image: url("/img/img6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_preguntas {
  height: auto;
  background: black;
}

.content_footer_preguntas1 img {
  width: 120px;
  height: 100px;
  margin: 30px 0 0 80px;
}

.line_separator {
  color: #d4af37;
  border: #d4af37;
  z-index: 3;
}

.content_footer_preguntas_n a,
h3 {
  color: white;
  text-align: center;
}

.content_footer_preguntas_n {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.content_footer_preguntas1,
.content_footer_preguntas2,
.content_footer_preguntas3,
.content_footer_preguntas4,
.content_footer_preguntas5 {
  margin-top: 20px;
}

.content_footer_preguntas1 h3,
.content_footer_preguntas2 h3,
.content_footer_preguntas3 h3,
.content_footer_preguntas4 h3 {
  margin-bottom: 25px;
  text-decoration: underline;
}

.content_footer_preguntas1 a,
.content_footer_preguntas2 a,
.content_footer_preguntas3 a,
.content_footer_preguntas4 a,
.content_footer_preguntas5 a {
  display: block;
  text-decoration: none;
  margin: 30px 0 40px 0;
}

.content_footer_preguntas5 img {
  width: 270px;
  height: 60px;
  display: block;
  margin-bottom: 10px;
}

.content_footer_preguntas5 h3 {
  margin-bottom: 25px;
}

.content_footer_preguntas5 {
  display: flex;
  justify-content: center;
  align-items: center;
}