* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header_index {
  background: black;
  height: 100px;
}
.content_nav {
  display: grid;
  grid-template-columns: auto auto auto;
}
.content_nav a {
  color: white;
  text-decoration: underline;
  font-size: 25px;
}
.nav_logo {
  margin-left: 30px;
}
.nav_logo img {
  width: 120px;
  height: 100px;
  padding: 5px 0 5px 0;
}
.nav_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_login a,
.nav_section a {
  margin-left: 15px;
}
.nav_login .login {
  color: rgb(202, 202, 202);
}
.nav_login .signin {
  width: 250px;
  height: 50px;
  display: inline-flex;
  padding: 6px 23px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #d4af37;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
  color: black;
}
.sect1_index {
  height: 500px;
}
.sect1_index img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sect1_index .name_logo {
  width: 450px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.sect1_index a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 50px;
  background: #d4af37;
  width: 250px;
  height: 50px;
  display: inline-flex;
  padding: 6px 23px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 60px;
  transition: border-color 0.3s ease, transform 0.3s ease;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}
.sect1_index a:hover{
  color: #d4af37;
  background: black;
  border-color: #d4af37;
  box-shadow: 2px 2px 4px black;
  cursor: pointer;
}
.sect1_index a::after{
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 0;
  transition: width 0.5s;
  transition: height 0.5s;
  transform-origin: left;
}
.sect1_index a:hover::after{
 
}
/*Seccion 2*/
.sect2_index {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.content_sect2 {
  flex: 1;
  position: relative;
}
.content_sect2 img {
  width: 340px;
  height: 530px;
  display: flex;
  object-fit: cover;
  flex-grow: 1;
  opacity: 0.8;
}
.content_sect2 img:hover{
  transition: ease 0.5s;
  opacity: 1;
  filter: contrast(130%);
  transform: scale(120%);
}
.up_text p,
.down_text p {
  color: white;
  text-align: center;
}
.up_text,
.down_text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 5px 10px 5px;
}
.up_text {
  top: 0;
  margin-top: 20px;
}
.down_text {
  bottom: 0;
}
/*Footer*/
.footer_index {
  height: auto;
  background: black;
}
.content_footer_index1 img {
  width: 120px;
  height: 100px;
  margin: 30px 0 0 80px;
}
.line_separator {
  color: #d4af37;
  border: #d4af37;
  z-index: 3;
}
.content_footer_index_n a,
h3 {
  color: white;
  text-align: center;
}
.content_footer_index_n {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.content_footer_index1,
.content_footer_index2,
.content_footer_index3,
.content_footer_index4,
.content_footer_index5 {
  margin-top: 20px;
}
.content_footer_index1 h3,
.content_footer_index2 h3,
.content_footer_index3 h3,
.content_footer_index4 h3{
  margin-bottom: 25px;
  text-decoration: underline;
}
.content_footer_index1 a,
.content_footer_index2 a,
.content_footer_index3 a,
.content_footer_index4 a,
.content_footer_index5 a {
  display: block;
  text-decoration: none;
  margin: 30px 0 40px 0;
}
.content_footer_index5 img{
  width: 270px;
  height: 60px;
  display: block;
  margin-bottom: 10px;
}
.content_footer_index5 h3{
  margin-bottom: 25px;
}
.content_footer_index5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}